.SignInForm {
    width: 100%;
    margin: auto;
    margin-top: .5rem;
    padding: 1.4rem;
}




.miss {
    color: var(--orange);
    font-size: 2rem;
    text-align: center;
}

.logLabel {
    text-align: start;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.inputForm {
    width: 100%;
    padding: .5rem;
    margin-top: 1rem;
    border: 1.7px solid var(--grey);
    border-radius: .5rem;
}

.forgot {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    margin-top: .8rem;
    font-weight: 500;
}

.toggle{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -.2rem;
    color: var(--green);
}

.btnSign {
    width: 45%;
    background-color: var(--green);
    color: #fff;
    font-weight: 600;
    margin: auto 28%;
    margin-top: 1rem;
}

.new {
    text-align: center;
    font-size: .9rem;
    margin-top: -.6rem;
    font-weight: 500;
}

.new a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #111010;
}

@media only screen and (min-width:1024px) {
    .SignInForm {
        width: 50%;
        
    }

    .miss {
        font-size: 4rem;
    }

    .btnSign {
        width: 35%;
        margin: auto 30%;
    }
}