.Bg-img {
    background-image: url(../../images/regBH.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    
   }

   .regLogo {
        position: absolute;
        width: 20%;
        top: 35%;
        left: 15%;
   }
   .JoinForm {
        display: grid;
        position:relative;
        width: 500px;
        height: 600px;
        left: 55%;
        top: 9%;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 3.16342px 62.4016px 3.16342px rgba(227, 80, 47, 0.1);
        border-radius: 7.92623px;
   
   }
   
   .NameCard {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
   }

   .regInput1 {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--grey);
    border-radius: 5px;
   }
   
   .labell,
   .labelForm {
     font-weight: 600;
    
   }
   
   
   .regInput{
     width: 100%;
     height: 3rem;
     justify-content: center;
     border: 1px solid var(--grey);
     padding: 8px;
     border-radius: 5px;
     margin-top: -1.5rem;
   }
   .btnSign-up {
    width: 100%;
    height: 3rem;
    background-color: var(--green);
    color: #fff;
    font-weight: 600;
    padding-top: .6rem;
    margin-top: 1rem;
   
   }
   
   .or {
        font-size: 16px;
        text-align: center;
        margin-top: -.2rem;
        font-weight: 600;
   }
   .regIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: -2.5rem;
   }
   .regSocial{
        width: 1rem;
        height: 1rem;
   }
   .acct{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
        font-weight: 500;
        margin-top: -1rem;
   }
   
   .acct a {
    text-decoration: none;
    color: #111010;
    font-weight: 600;
    margin-left: 1rem;
   }
   
   /* Media query for screens smaller than 600px */
   @media (max-width: 600px) {
     .JoinForm {
        width: 90%;
        left: auto;
        top: 3%;
        margin: 0 auto;
     }
     
     .NameCard {
       width: 100%;
       flex-direction: column;
     }
     
     .regInput {
       width: 100%;
       margin-top: -.5rem;
     }
     
     .btnSign-up {
       width: 100%;
     }
     
     .regIcon {
       flex-direction: row;
       font-size: .5px;
     }
     
     .labelForm {
       flex-direction: column;
     }
     
     
   }
   /* Media query for screens between 600px and 1200px */
   @media (min-width: 601px) and (max-width: 1200px) {
     .JoinForm {
        width: 60%;
        top: 25%;
        left: 30%;
     }

     .regLogo {
        position: absolute;
        width: 25%;
        top: 35%;
        left: 5%;
   }
   }