* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog {
  font-family: "Montserrat";
  font-style: normal;
  margin: 6.25rem 0;
}
.blog a {
  color: #000000;
}
.blog-quote {
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #111010;
}

.blog-title {
  font-weight: 500;
  font-size: 70px;
  line-height: 85px;
  margin: 60px 0 80px;

  color: #e3502f;
}

.blog-nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8b8989;
}

.card-title1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;

  color: #000000;
}

.card-text1 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #5f5e73;
}

.card-text2 {
  color: rgba(0, 0, 0, 0.6);
  margin: 0.5rem 0 0.875rem;
  gap: 0.5rem;
}

.card-link1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #000000;
}

.main-row {
  margin: 5rem 0;
  gap: 1rem;
  justify-content: center;
}

.main-row > * {
  padding: 0;
}

.button-group {
  gap: 1rem;
}
.button1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  border-radius: 15px;
}

.blogLink.active {
  color: black !important;
  padding: 0.6rem 1rem;
  /* text-decoration: underline; */
  border-bottom: 1px solid #000000 !important;
  border-radius: 0;
}
.nav-tabs .nav-link {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #8b8989;
}
.nav-tabs {
  border: none;
}
