.headerLogo {
    width: 22%;
}


.nav-gap {
    margin-left: 0rem;
    justify-content: space-between;
}


.nav-link {
    font-weight: 600;
    font-size: 1.1rem;
    margin: auto;
    color: var(--grey);
}

#logBtn {
    display: flex;
    background-color: var(--orange);
    color: var(--black);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0rem 1.5rem 1.5rem 1rem ;
}



.getBtn {
    background-color: var(--orange);
    color: var(--black);
    padding: 1rem 1.3rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin: auto .5rem;
    text-decoration: none;
    border-radius: 0rem 2rem 2rem 1rem ;
}

.arrow {
    margin-top: .3rem;
    margin-left: .5rem;
}
  
.nav-link.active {
    color: var(--orange) !important;
    text-decoration: none;
}

#logBtn.active {
    color: white !important;
    text-decoration: none;
}



.hero {
    margin-top: -10.5rem;
    height: 100vh;
    background: rgba(227, 80, 47, 0.1);
}

.heroColLeft {
    margin-top: 12rem;
}

.heroHeader {
    font-size: 2.5rem;
    font-weight: 600;
    margin: auto .5rem;
}

.heroColor {
    position: relative;
    color: var(--orange);
}

.bendLine {
    position: absolute;
    height: 2px;
    width: 37%;
    left: 31%;
    background-color: var(--orange);
  }
  

.speakers {
    font-size: 1.3rem;
}

.speaker1 {
    position: absolute;
    top: -1%;
}

.speaker4 {
    right: 19.5%;
}

.speaker2{
    top: -40%;
    left: 24%;
}

.speaker3 {
    top: 100%;
    left: 24%;
}

.heroText {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto .5rem;
}

.heroImage {
    position: relative;
    margin-top: -2rem;
    margin-left: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.heroImg {
    height: 13rem;
    margin: auto 2rem;
}

@media only screen and (min-width:768px) {
    .bendLine {
        position: absolute;
        height: 2px;
        width: 20%;
        left: 15%;
        background-color: var(--orange);
      }
    .heroImage {
        position: relative;
        margin-top: 16rem;
        margin-left: 2.5rem;
        justify-content: space-between;
        align-items: center;
    }

    .heroImg {
        height: 16rem;
        margin: auto 0rem;
    }

    .speaker1 {
        position: absolute;
        top: 3%;
    }
    
    .speaker4 {
        right: 16%;
    }
    
    .speaker2{
        top: -12%;
        left: 30.6%;
    }
    
    .speaker3 {
        top: 30%;
        left: 30.6%;
    }
}

@media only screen and (min-width: 1024px) {
    .nav-gap {
        margin-left: -8rem;
        justify-content: space-between;
    }

    .nav-link {
        font-weight: 600;
        font-size: 1.1rem;
        margin: auto .6rem;
        color: var(--grey);
    }

    .heroHeader {
        font-size: 4rem;
        font-weight: 600;
        margin: auto 7.5rem;
    }
    .bendLine {
        position: absolute;
        height: 2px;
        width: 16%;
        left: 19%;
        background-color: var(--orange);
    }

    .heroText {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: auto 7.5rem;
    }

    .getBtn {
        background-color: var(--orange);
        color: var(--black);
        padding: 1rem 1.3rem;
        font-size: 1.2rem;
        font-weight: 500;
        margin: auto 7.5rem;
        text-decoration: none;
        border-radius: 0rem 2rem 2rem 1rem ;
    }

    .heroImage {
        position: relative;
        margin-top: 12rem;
        justify-content: space-between;
        align-items: center;
    }

    .heroImg {
        height: 23rem;
        margin: auto 2rem;
    }

    .speaker1 {
        position: absolute;
        top: 15%;
    }
    
    .speaker4 {
        right: 26.5%;
    }
    
    .speaker2{
        top: -10%;
        left: 24%;
    }
    
    .speaker3 {
        top: 70%;
        left: 24%;
    }
}