
.sectionBody{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
    background-color: var(--bg);
    overflow-x: hidden;
    /* width: 100%;  */
    
}

.image1 {
  position: relative;
  top: -1px;
  /* bottom: -140px; */
  right: -170px ;  
/* border: 1px red solid; */
}
.image2 {
  position: absolute;
  top: 90px;
  right: -40px;
  /* border: 1px green solid; */ 
}
.image3 {
  position: relative;
  top: 10px;
  right: -170px;
}
.image4 {
  position: absolute;
  top: 90px;
  right: -360px;
}
.hero-main {
    width: 50%;
}

.hero-img {
    /* width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80vh;
    overflow: hidden; */
    width: 10%;
  position: relative;
  top: 0;
  left: 0;
   
}

.hero-h3 {
    color: var(--black);
    font-size: 3rem;
}
.strong{
   font-weight: bold;
}
.hero-summary {
    display: inline;
    justify-content: start;
    line-height: 2rem;
}


.hero-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--orange);
    color: var(--black);
    border: none;
    border-radius: 20px 2px 20px 2px;
    width: 10rem;
    margin-top: 10px;
}

.ft-speaker-section {
    display: flex;
    align-items:center;
    flex-direction: column;
    /* background-color: var(--white); */
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 7rem;
}

.ft-speaker-section input {
    width: 25%;
    border: 1px solid var(--black);
    /* background-color: var(--bg); */
    border-radius: 1rem;
    padding: 1.4rem; 
    margin-top: 25px;
}

.ft-speaker-head {
    font-size: 3rem;
    color: var(--green);
}

.ft-speaker-card {
    width: 100%;
    padding: 20px 20px;
    display: flex !important;
    flex-wrap: wrap !important ; 
    justify-content: space-evenly !important; 
    font-family: 'Montserrat', sans-serif;
    align-items: center !important; 
    flex-direction: row !important;
    
}

.summary-summary {
    text-align: center;
    background-color: var(--bg);
    padding: 2rem 8rem;
}

.summary-summary h1 {
    font-size: 3rem;
    color: var(--green);
}

.summary-summary p {
    padding: 0 14rem ;
    line-height: 2.3rem;
}

.summary-detail {
    margin-top: 4rem;
    text-align: center;
    padding: 6rem 8rem;
    padding-top: 1rem;
}

.summary-detail h1 {
    font-size: 3rem;
    color: var(--green);
    letter-spacing: 0.3rem;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ft-reviews {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8rem;
    padding-top: 2rem;
}

.ft-reviews h1 {
    font-size: 2rem;
    color: var(--green);
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.message-container {
    background-color: var(--bg);
    text-align: right;
    padding: 2.5rem 3rem;
}

.footer-main {
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 6rem;
    padding-bottom: 4rem;
    color: var(--white);
}

.event-button {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 2rem;
}

.event-btn {
    padding: 0.8rem 0rem;
    width: 45%;
    border: 0.5px solid var(--white);
    border-radius: 0.6rem;
}

.sub-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.6rem;
    
}

.sub-form label {
    margin-right: 1rem;
    color: var(--orange);
}

.sub-form input {
    width: 25rem;
    padding: 0.5rem;
}

.sub-form button {
    padding: 0.5rem 1.5rem;
    border: 2px solid #948D8D;
    background-color: #948D8D;
    border-radius: 5px;
    color: #fff;
}

.footer-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
}


.footer-links li {
    margin-bottom: 1rem;
}

.footer-links div {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    text-decoration: none;
    color: var(--white)
}

.logo-container {
    text-align: center;
}

.logo-container h6 {
    font-weight: 400;
}

.footer-summary {
    display: flex;
    margin-top: 3rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.socials svg{
    margin-left: 1rem;
}

@media screen and (max-width:768px) {
   /* .sectionBody
    {
    flex-direction: column;
    width: 300px;
    flex-wrap: wrap;
    display: flex;
    font-size: 10px;
    margin-bottom: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
    background-color: var(--bg);
    overflow-x: hidden;
}
.hero-img  {
    max-width: 100%;
    gap: 10px;

}

img {
    display: grid;
    align-items: center;    
    justify-content: center;
    grid-template-columns:(1fr 1fr 1fr );
    grid-template-rows: (1fr 1fr);
    max-width: 120%;
    margin-top: 30px;
    overflow: hidden;
    max-height: 150vh;
}


.main-page {
    order: -2;
}
.hero-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--orange);
    color: var(--black);
    border: none;
    border-radius: 20px 2px 20px 2px;
    width: 100%;
}

.ft-speaker-section input {
    width: 100%;
    flex: 1;
    margin-top: -100px;
    border: 1px solid var(--black);
    background-color: var(--bg);
    border-radius: 1rem;
    padding: 1.0rem; 
}
  */

      .sectionBody {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 4rem;
  background-color: var(--bg);
  overflow-x: hidden;
  width: 100%;
}

.image1 {
  position: relative;
  top: -12px;
  right: -190%;
}

.image2 {
  position: absolute;
  top: 20vh;
  right: -290%;
}

.image3 {
  position: relative;
  top: 20px;
  right: -170%;
}

.hero-img {
    width: 10%;
    position: relative;
    top: 0;
    left: 0;
  }

  .hero-h3 {
    font-size: 2rem;
  }

  .hero-summary {
    line-height: 1.5rem;
  }

  .hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--orange);
    color: var(--black);
    border: none;
    border-radius: 20px 2px 20px 2px;
    width: 8rem;
    margin-top: 10px;
  }

.ft-speaker-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .ft-speaker-section input {
    width: 100%;
  }


.ft-speaker-section {
    display: flex;
    align-items:center;
    flex-direction: column;
    /* background-color: var(--white); */
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 7rem;
}

.ft-speaker-section input {
    width: 25%;
    border: 1px solid var(--black);
    /* background-color: var(--bg); */
    border-radius: 1rem;
    padding: 1.4rem; 
    margin-top: 25px;
}

.ft-speaker-head {
    font-size: 3rem;
    color: var(--green);
}

.ft-speaker-card {
    width: 100%;
    padding: 20px 20px;
    display: flex !important;
    flex-wrap: wrap !important ; 
    justify-content: space-evenly !important; 
    font-family: 'Montserrat', sans-serif;
    align-items: center !important; 
    flex-direction: row !important;
    
}
summary-summary {
text-align: center;
background-color: var(--bg);
padding: 2rem;
}

.summary-summary h1 {
font-size: 2rem;
}

.summary-summary p {
padding: 0 2rem;
}

.summary-detail {
margin-top: 4rem;
text-align: center;
padding: 2rem;
padding-top: 1rem;
}

.summary-detail h1 {
font-size: 2rem;
}

.details {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.ft-reviews {
background-color: var(--bg);
display: flex;
flex-direction: column;
align-items: center;
padding: 0 2rem;
padding-top: 2rem;
}

.ft-reviews h1 {
font-size: 2rem;
}

.reviews {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.message-container {
background-color: var(--bg);
text-align: right;
padding: 2rem;
}
.footer-main {
padding: 6rem 3rem;
}

.event-button {
width: 60%;
}

.sub-form input {
width: 100%;
}

.sub-form button {
padding: 0.5rem 1rem;
}

.footer-links {
flex-direction: column;
align-items: center;
text-align: center;
}

.footer-links div {
margin-bottom: 2rem;
}

.logo-container {
margin-bottom: 2rem;
}

.footer-summary {
flex-direction: column;
align-items: center;
}
}