@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --orange: #E3502F;
  --green: #359E4C;
  --bg: rgba(227, 80, 47, 0.1);
  --black: #000000;
  --white: #ffffff;
  
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  
}
